{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "insertPragma": false,
  "semi": true,
  "trailingComma": "none"
}
