.column {
  background-color: rgba(144, 141, 141, 0.414);
  flex: 1;
}

.header {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.623);
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 20px;
}
